.wrapper{
   & .title {
    color : rgba($color: #bba2a2, $alpha: 1.0);
    font-size: 120px;
    padding: 30px 10px;
    font-weight: 100;
   }
   & .instruction {
    color : black;
    padding: 10px 30px;
    font-weight: 200px;
    margin:  auto;
   }
   & .todo-wrapper{
     box-shadow: 10px 4px 0 rgba($color: #a8a3a3, $alpha: 1.0), 0 25px 50px 0;
      & app-header{
        height: 50px;
        padding: 10px;
        border-bottom: 10px solid rgb(177, 175, 175,0.4);
        background: white;
      }
   }
}
